[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
xlrd = "*"
plotly = "==4.14.3"
plotly-express = "==0.4.0"
matplotlib = "*"
seaborn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
